body {
    width: 99.1%;
    height: 99.1%;
    position: absolute;
    background-color: rgb(46, 75, 170);
}

.contener {
    height: 85%;
    width: 85%;
    margin: 3% auto 3% auto;

    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.301);
    background-color: rgb(59, 97, 223);
    
    display: flex;
    justify-content: center;
}

.profil {
    background-image: url(images/bg-foret.JPG);
    background-size: cover;
    background-position: center;
    border: 5px solid rgba(3, 252, 107, 0.247);
}

.profil-content {
    margin: auto;
    padding: 3%;
    max-width: 35%;
    max-height: 40%;
    
    background: rgba(0, 14, 22, 0.486);
    box-shadow: 0px 0px 20px 10px rgba(29, 104, 6, 0.432);
}

#profilPic {
    width: 50%;
    background: rgba(5, 8, 204, 0.329);
    border: 5px solid rgba(13, 6, 110, 0.158);
    border-radius: 50%;
    box-sizing: border-box;
    background-size: cover;
}

#profilPic:hover {
    background: rgba(5, 8, 204, 0.226);
    border: 5px solid rgba(13, 6, 110, 0.384);
    box-shadow: 5px 5px 10px 1px black;
    transition: 0.5s;
}

.profil-content * {
    display: block;
    margin: auto;
    text-align: center;
    color: white;
}

.profil-nom {
    font-weight: bold;
    font-size: 1.5em;
}

.profil-description-perso {
    font-style: italic;
}

.profil-download {
    text-decoration: none;
    background-color: rgb(60, 93, 201);
    color: white;
    width: 50%;
    border-radius: 25px;
    margin-top: 5%;
    padding: 1%;
    border: 2px solid rgb(8, 28, 94);
}

.profil-download:hover {
    background-color: rgba(60, 93, 201, 0.7);
    border: 2px solid rgba(8, 28, 94, 0.7);
    box-shadow: 10px 10px 5px 2px rgba(0, 0, 0, 0.301);
    transition: 0.5s;
}

.projets {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.301);
    background-color: rgb(60, 93, 201);

    display: flex;
    flex-wrap: wrap;
}

.projet-exemple {
    background-color: rgb(18, 13, 88);
    border: 2px solid rgb(120, 21, 187);
    color: white;
    text-align: center;

    min-height: 200px;
    min-width: 25%;
    margin: 2%;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 5px;
}

footer, header{
    height: 50px;
    width: 100%;
    background-color: rgb(8, 28, 94);
}